body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: grey;
}
h1{
    font-size: 50px;
}
h1 span{
    color: green;
}
.flexible-container{
    display: flex;
    margin-bottom: 130px;
}
.button-style{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(blue, tomato);
    padding: 15px 20px;
    border-radius: 30px;
}
.page-setup{
    width:36%;
    padding-left: 8%;
    padding-top: 5%;
}
.page-setup img{
    width: 120%;
}
.top-banner{
    background-image: url(images/shapes/bg2.png);
    background-repeat: no-repeat;
}
