body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: grey;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 34px;
    color: black;
}
h1 span{
    color: green;
}
h2 span{
    color: rgba(255, 255, 0, 0.747);
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.button-style{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(purple, tomato);
    padding: 15px 20px;
    border-radius: 30px;
}
.page-setup{
    width:36%;
    padding-left: 8%;
    padding-top: 5%;
}
.page-setup img{
    width: 120%;
}
.top-banner{
    background-image: url(images/shapes/bg2.png);
    background-repeat: no-repeat;
}
.line-space{
    line-height: 1.8;
}
.text-position{
    text-align: center;
    width:38%;
    padding-left: 450px;
}
.box-style{
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px darkgrey;
}
.box-style img{
    width: 96%;
    padding-left: 10px;
    border-radius: 30px;
}
.footer-background{
    background-color: black;
    text-align: center;
    color: darkgrey;
    padding-top: 20px;
    padding-bottom: 100px;
}
#subscribe-alling{
    text-align: right;
    color: burlywood;
}